<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Grayscale - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet" />
        <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
<!--                        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>-->
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('uplodfiles') }}">Upload Files</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('viewfiles') }}">View Files</a></li>
                        <li class="nav-item"><a class="nav-link" href="#signup">Search Files</a></li>
                                                <li class="nav-item"><a class="nav-link" href="{{ url_for('filestatus') }}">Files Status</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('downloadfile') }}">Request Stautus</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">Logout</a></li>



                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                                 <div class="centered" style=" padding-bottom: 200px;">

				         <table border="" style="color:white">
                        <tr>
                             {% if msg=="notfound" %}
                                <h3>Entered key is not valid</h3>
                            {% endif %}
                            <th>File Download</th>
                        </tr>
                        {% for r in row_val %}
                        <tr>
                            {% for v in r %}
                                  <td  > {{ v }}</td>


                                     <input type="hidden" id="source" value="{{ v }}">
    <br><br>


                                {% endfor %}
                            </tr>
                            {% endfor %}
                    </table>
                       <br><button type="button" id="save" title="Save as text file">Download</button>

    <script type="text/javascript">
        // when document is ready
        document.getElementById("save").onclick = function() {
            // when clicked the button
            var content = document.getElementById('source').value;
            // a [save as] dialog will be shown
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
    </script>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>

        <script src="static/js/scripts.js"></script>
    </body>
</html>
